
.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    label{
      display: flex;
      flex-direction: column;
      margin: 1em;
      font-weight: 600;

      input{
        margin: 0.4em 0;
        width: fit-content;
      }
      
    }

    button{
      width: 100%;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 90%;
    top: 10%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }