.titleField{
    display:flex;
    align-items:flex-start;
    line-height:2em;
    align-items: center;

    button{
      margin: 0;
    }

}
  
.taskTitle{
    cursor: pointer;
    color: $contrastColor;
    font-weight: 600;
    margin: 0;
}

.deleteIcon{
    color: #1d5d92;
    font-size: 2em;
    cursor: pointer;
    margin-left: 1em;
}